/.phpunit.cache
/bootstrap/ssr
/node_modules
/.pnpm-store
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.*
!.env.*.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dbml-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

**/caddy
/frankenphp
/frankenphp-worker.php
backups/
!docker/deployment/frankenphp/
docker/traefik/certs/*.pem
docker/traefik/certs/*.key
docker/traefik/certs/private.key
